.dashedbox {
  box-sizing: border-box;
  background: #b7f47d;
  border: 0.5px dashed #006a4b;
  border-radius: 7px;
  color: #0b2000;
}
.box-test-sub label {
  width: 14rem;
}

.box-test-sub-1 label {
  min-width: 8rem;
}

.hr {
  width: 80%;
  margin: 0 auto;
}

input:not(#not_using):checked ~ label {
  background: #006a4b;
  color: white;
}
input:not(#not_using):checked:hover ~ label {
  background: #006a4b;
  color: white;
}

.button-title {
  border: 0.5px solid #707973;
  border-radius: 8px;
  color: #006a4b;
}

.button-title:hover {
  cursor: pointer;
}
.button-sub {
  border: 0.5px solid #707973;
  border-radius: 8px;
  color: #a9acac;
}

.button-sub:hover {
  cursor: pointer;
}

.input-sub:not(#not_using):checked ~ label {
  background: #b7f47d;
  color: #0b2000;
  border: 0.5px solid #0b2000;
  border-radius: 7px;
}
.input-sub:not(#not_using):checked:hover ~ label {
  background: #b7f47d;
  color: #0b2000;
  border: 0.5px solid #0b2000;
  border-radius: 7px;
}

.button-title {
  border: 0.5px solid #707973;
  border-radius: 8px;
}

.button-title-custom {
  border: 0.5px solid #707973;
  border-radius: 8px;
  min-width: 20rem;
  &:hover {
    cursor: pointer;
  }
}
.button-sub-custom {
  border: 0.5px solid #707973;
  border-radius: 8px;
  color: #a9acac;
  min-width: 14rem;
  &:hover {
    cursor: pointer;
  }
}
.button-sub-pgex {
  border: 0.5px solid #707973;
  border-radius: 8px;
  color: #a9acac;
  min-width: 13rem;
  &:hover {
    cursor: pointer;
  }
}

.button-title-custom-mikrobiologi {
  border: 0.5px solid #707973;
  border-radius: 8px;
  min-width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.sub-input {
  margin-bottom: 0.5rem;
}
.input-text[data-invalid] .formkit-inner {
  border-color: red;
  box-shadow: 0 0 0 1px red;
  border-radius: 8px;
  display: flex;

  position: relative;
  align-items: center;
}

.input-text[data-invalid] .formkit-message {
  color: red;
  list-style-type: none;
  font-size: small;
  opacity: 80%;
}

.input-text[data-complete] .formkit-inner {
  border-color: red;
  box-shadow: 0 0 0 1px green;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  // padding: 0.5em;
}
.input-text[data-complete] .formkit-inner::after {
  content: "✔️";
  position: absolute;
  right: 0.5rem;
}

.input-text[data-invalid] .formkit-inner::after {
  content: "❕";
  position: absolute;
  right: 0.5rem;
}

form > .formkit-messages {
  padding: 20px;
  background-color: #f44336;
  color: white;
  list-style-type: none;
  border-radius: 0.5rem;
  text-align: center;
}

.label_small {
  font-size: 8px;
}

.icon-medium {
  font-size: 0.8rem !important;
}

.tab-ul {
  list-style-type: none;
  li {
    .activeTab {
      background: #006a4b;
      border-radius: 8px 8px 0px 0px;
      color: #fff;
      font-size: 0.9rem;
    }
    .pasivTab {
      background: #d9d9d9;
      border-radius: 8px 8px 0px 0px;
      color: #626262;
    }
    label {
      background: #d9d9d9;
      border-radius: 8px 8px 0px 0px;
      color: #626262;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.failed-color {
  color: #ba1b1b !important;
}

.d-center {
  display: flex;
  align-items: center;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}

.modal-active {
  display: block;
}
